.component-togglemenu-container {
    position: relative;
    display: inline-block;
    width: 100%; /* Ajuste a largura conforme necessário */
}

.component-togglemenu-aside {
    position: fixed;
    top: 0;
    right: ${isOpen ? '0' : '-250px'}; /* Ajuste o valor conforme a largura do aside */
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, right 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}

.component-togglemenu-button {
    position: absolute;
    top: 0;
    right: -40px; /* Ajuste para que o botão fique colado ao aside */
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 2;
    transition: right 0.3s ease;
}

.component-togglemenu-button:hover {
    background-color: #0056b3;
}

.component-togglemenu-aside.open {
    right: 0;
}

.component-togglemenu-container.open .component-togglemenu-button {
    right: 0;
}
