/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #b9ecf4; /* Fundo azul claro */
    color: #333; /* Cor do texto */
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c4c4ff; /* Fundo branco */
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  h1, h2 {
    color: #2c2c2c; /* Cor do título */
  }
  
  /* Estilos para formulário */
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  article {
    width: calc(50% - 10px); /* Coloca dois articles por linha */
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #24224f; /* Cor do texto do label */
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd; /* Borda cinza */
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="file"] {
    margin-top: 5px;
  }
  
  /* Estilos para botão de envio */
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #5f27cd; /* Roxo escuro */
    color: #fff; /* Cor do texto */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #4a148c; /* Roxo mais escuro no hover */
  }
  
  /* Estilos para dispositivos móveis */
  @media screen and (max-width: 600px) {
    article {
      width: 100%; /* Apenas um article por linha em dispositivos móveis */
    }
  }
  