$navcor : #d3f5fa;

.card {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: $navcor;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        background-color: #17293b;
        color: #fff;
    }
    
}

.card-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    background-color: #0056b3;
}

.card-name {
    font-size: 16px;
    font-weight: 500;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: $navcor;
    align-items: center;
    justify-items: center;
    
}

.navbar-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    max-height: calc(100vh - 60px); /* Adjust the height as needed to fit your layout */
}

.navbar-button {
    padding: 10px 60px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    margin-top: 10px;

    &:hover {
        background-color: #0056b3;
    }
}
